/* Set style for html document body */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body{ height:100%;}
body{
	font-size:76%;
	padding:0;
	margin:0;
	background-color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}

a{
	color:#0033cc;
}

/* Wrapper for chat box & form */
.wrapper, .user_wrapper{
	text-align:left;
	margin:0 auto 0 auto;
	width:98%;
	height:100%;
}

.user_wrapper{
	background:#EEE;
}

.user_wrapper p{
    margin:10px;
}
.user_wrapper h1{
 font-size: 25px;   
}
/* User bar with logout/login, username, etc */
ul#userbar{
	margin:0;
	padding:8px 0 8px 0;
	overflow:auto;
}
ul#userbar li{
	list-style:none;
	float:left;
	border-left:solid 1px #ccc;
	padding:0 8px 0 8px;
}
ul#userbar li.first{
	border:none;
	padding-left:0;
}
ul#userbar li.last{
	float:right;
	border:none;
	padding-right:1px;
}
ul#userbar li a{
	text-decoration:none;
}
ul#userbar li a:hover{
	text-decoration:underline;
}

/* Chat box */
#chats{
	padding:8px;
	background-color:#fff;	
	overflow:auto;
	margin-bottom:5px;
	height:85%;
	border:solid 1px #fff;
	clear:both;
}

/* Chat form */
form#send-chat-form{
	padding:10px 0 5px 0;
	text-align:left;
}
form#send-chat-form .form-item{}
form#send-chat-form input.form-textfield{
	width:97%;
	font-family:Arial;
	font-size:16px;
}
form#send-chat-form input.form-submit, form#send-chat-form input.form-refresh{
	width:100px;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
}
form#send-chat-form input.form-refresh{
	width:120px;
}

/* Edit my profile form */
form#my-profile-form{}
form#my-profile-form .form-item{
	overflow:auto;
	clear:both;
	padding:0 0 8px 0;
}
form#my-profile-form label{
	width:100px;
	float:left;
}
form#my-profile-form .description{
	clear:both;
	font-size:11px;
	color:#666;
	padding:4px 0 0 100px;
}
form#my-profile-form .form-textfield-email{
	color:#000;
	border:none;
	background-color:#ddd;
}
form#my-profile-form .form-textfield-avatar{
	width:480px;
}
form#my-profile-form .form-textfield-website{}
form#my-profile-form .form-textfield-seated{}

/* User profile page */
dl#user-profile{}
dl#user-profile dt{
	font-weight:bold;
}
dl#user-profile dd{
	padding:0 0 6px 0;
}
h2{
	font-size:24px;
	font-family:Arial;
	font-weight:normal;
	border-bottom:solid 1px #ccc;
	line-height:2em;
	margin:0;
}

/* Chat line */
.chat{
	font-size:12px;
	line-height:1.5em;
	padding:1px 1px 1px 1px;
	margin:0 0 5px;
	width: 100%;
}
.chat .user_picture {
    float: left;
    max-width: 32px;
    max-height: 32px;
    margin: 0 5px;
}
.chat strong.nickname{}
.chat strong.nickname a{}
.chat .content{
	display:inline;
}
.chat{
    font-size:12px;
    line-height:1.5em;
    padding:1px 1px 1px 1px;
    margin:0 0 2px 5px;
    width: 100%;    
    min-height:40px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CAD5EB), to(#E8EDFF));
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 5px 5px -3px black;
} 
iframe
{
	border: none;
}
.timestamp
{
	font-size:10px;
 	color: #999999;
}
input { border-radius: 6px; outline:none;}


#chat_container{
    height: 98%;
}

#invite_container{
    margin: 15px;
}

#invite_container input{
    width:200px;
    margin:5px;
}