@charset "utf-8";
html, body {
height: 100%;
margin: 0;
padding: 0;
text-align: center;
background:#666666;
overflow:hidden;
}
#header{
position:absolute;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#434343), to(#323232));
width:600px;
height:40px;
left: 330px;
top: 10px;
color:#FFFFFF;
font-family: 'IM Fell Great Primer SC', arial, serif;
font-size:26px;
border-radius: 5px;
}

@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: normal;
  src: local('Molengo'), url('http://themes.googleusercontent.com/font?kit=txVk61PTIsDrQQj2fK-76Q') format('truetype');
}

#logo{
position:absolute;
background-image:url(party_64.png);
width:145px;
height:149px;
left:1000px;
top:10px;
}
#main_text{
position:absolute;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#323232), to(#434343)); 

width:560px;
/* height:600px; */
left: 350px;
top: 88px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
border-radius: 5px;
border:3px solid white;
}
#tab_head{
position:absolute;
width:126px;
height:33px;
background-image:url(party_page.png);
left: 570px;
top: 90px;
z-index:2;
}
.main_text_inner
{
	/* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CAD5EB), to(#E8EDFF)); */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABA1AB), to(#C8CDDD));
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 5px 5px -3px black;
	font-family: 'IM Fell Great Primer SC', arial, serif;
	max-width:530px;
	min-height:40px;
	color:#000000;
	clear: both;
	font-size:26px;	
	margin: 10px;
	padding: 10px;
}
.main_text_inner a:link
{
	text-decoration: none;
	text-shadow: #000000 0px -1px 3px;
	color: white;
}
.main_text_inner a:hover
{
	text-decoration: none;
	text-shadow: #000000 0px 1px 3px;
	color: white;
}
.main_text_inner a:visited
{
	text-decoration: none;
	text-shadow: #000000 0px 0px 3px;
	color: white;
}
.main_text_inner a:visited
{
	text-decoration: none;
	text-shadow: #000000 0px 0px 3px;
	color: white;
}
.chat_tab_big
{
	float: left;
	z-index: 200;
	max-width: 400px;
	top: 10px;
	left: 30%;
	position: relative;
	clear: both;
	font-family: 'IM Fell Great Primer SC', arial, serif;
	font-size: 300%;
	color: white;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#111), to(#333));
	text-align: center;
	border-top: solid 6px white;
	border-left: solid 6px white;
	border-right: solid 6px white;
	border-bottom: none;
	padding: 4px 10px;
}
.chat_tab_big span.inner
{
	font-size: 115%;
	padding: 12px;
}
#logo
{
	-webkit-transform: rotate(20deg) translate(-120px, -30px);
	z-index: 200;
}
.content
{
	display: none;
	position: relative;
	overflow: hidden;
	height: 0;
	-webkit-transition: all .2s ease;
	font-size: 16px;
	font-family: 'Molengo', arial, serif; /* 'IM Fell Great Primer SC', */
    float: left;
    height: auto;
    line-height: 18px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    clear: both;
}
.content:target
{
    
    display: block;
}

      .ribbon {
        background-color: #a00;
        overflow: hidden;
        /* top left corner */
        position: absolute;
        left: -3em;
        top: 2.5em;
        /* 45 deg ccw rotation */
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        /* shadow */
        -moz-box-shadow: 0 0 1em #888;
        -webkit-box-shadow: 0 0 1em #888;
      }
      .ribbon a {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font: bold 81.25% 'Molengo', Helvetica, Arial, sans-serif;
        margin: 0.05em 0 0.075em 0;
        padding: 0.5em 3.5em;
        text-align: center;
        text-decoration: none;
        /* shadow */
        text-shadow: 0 0 0.5em #444;
      }