{% for chat in chats %}
<div class="chat"> 	
{% if chat.author.picture %}
	<img src='{{chat.author.picture}}' class="user_picture"/>
{% else %}
	<img src='/img/party_32.png' class="user_picture"/>
{% endif %}
{% if chat.author %}
	<strong class="nickname"><a href="/user/{{chat.author.email}}">{{chat.author.nickname}}</a>:</strong>
{% else %}
   	<strong class="nickname">Guest:</strong>
{% endif %}
	<div class="content">{{ chat.content|escape }}</div>
	<div class="timestamp">&nbsp; {{ chat.natural_date }}</div> {# TODO: only show if 2 minutes has passed #}
</div> 
{% endfor %}
