<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<title>Embedded Ajax Chat</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
   {# <link type="text/css" rel="stylesheet" href="/css/main.css?1.1" media="screen" /> #}
  </head>                                                                                     
  <body onload="" style="background: #ddd;">
  <div class="wrapper">
	    <script type="text/javascript" id="party_time">
	    function getThisPartyStarted(){
			var s = document.getElementById("party_time");
			var url = location.href;
			var us = "{{ SERVER_HOST }}/party-page-js?gowith=" + encodeURIComponent(url);
			var ns = document.createElement("script");
			ns.src = us;
			ns.type = "text/javascript";
			s.parentElement.appendChild(ns);
        }
		setTimeout(function(){ if (!document.getElementById("chat_wrapper")) getThisPartyStarted(); },1000);
	    </script>
  </div>  
  </body>
</html>
