<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Party Page</title>
	<link rel="stylesheet" href="/css/party.css" type="text/css" />
	<link rel="stylesheet" href="/css/confetti.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC' rel='stylesheet' type='text/css'/>
<script type="text/javascript">
	{% include "confetti.js" %}
</script>
</head>
<body style="overflow-x: hidden; overflow-y: hidden;">
<div id="logo"><img src="/img/party_256.png" alt="Throw My Party!"/></div>
<div class="chat_tab_big"><span>PARTY<span class="inner">!</span> PAGE</span></div>

<div id="main_text"><br /><span id="text_body">
<div class="main_text_inner">Get User Feeds in Real Time!</div>
<div class="main_text_inner">Runs On Your Site!</div>
<div class="main_text_inner">Chrome Extension Let's You Setup Anywhere!</div>
<div class="main_text_inner">There is Unicorn Meat Inside!</div>
<div class="main_text_inner">Let The Party Begin!!!!</div> </span></div>


</body>
</html>