<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<title>Simple Ajax Chat</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	<script src="/js/util.js" type="text/javascript"></script>
    <script type="text/javascript">
    var CURRENT_USER = '{{ user.nickname }}';
    var CHATS_DIV = null;
    var this_url = encodeURIComponent(window.location.href.split('?')[0]);


	function onChatsReturned(responseText, status) {
		var chats_el = $('<div></div>'); chats_el.html(responseText);
		if (status == 'success') {
			console.log( chats_el.html());
		  if (CHATS_DIV.html() != chats_el.html()){
			  CHATS_DIV.html(chats_el.html());
			  scrollToBottom();
			  highlightUser(CURRENT_USER, CHATS_DIV);
			  makeLinks(CHATS_DIV);		  
		  }
	    } 
	    window.setTimeout("updateChat()", 10000);
	}
	
    function updateChat() {
		$.ajax({
		  url: '/getchats',
		  type: "GET",
		  dataType: "html",	
		  data: {
			url: this_url
		   },
		  success: onChatsReturned
		});
	};
	
	function sendChat(form) {
	  if ($("#chattext").val()) {
			$.ajax({
			  url: '/getchats',
			  type: "POST",
			  dataType: "html",	
			  data: {
				content: $("#chattext").val(),  
				url: this_url
			   },
			  success: onChatsReturned
			});
		
			$("#chattext").val('');
		
		}
	};


	function setup() {
		updateChat();
		CHATS_DIV = $("#chats");
	}
	
	function scrollToBottom() {
	  CHATS_DIV.scrollTop = CHATS_DIV.scrollHeight;
	}
	
	
	$(function(){
		$('button#room').click(function(){
			$('#options').hide();
			$('#change_room').show()
			.find('button').click(function(){
					$('#change_room').hide();
					$('#options').show();
	   			
			var room_name = $('#change_room').find('input#room_name').val();
			if (room_name && $(this).attr('id') == 'continue')
					{
						$('#change_room').find('input#room_name').val('');
					}
			});
		})
	});
	
	
	</script>
  </head>                                                                                     
  <body onload="setup()">
  <div class="wrapper">
	<form id="send-chat-form" action="javascript:sendChat();">
      	<div class="form-item">
	  		<input placeholder="Enter some freaking text already..." type="text" name="content" class="form-textfield" id="chattext" />
			{#<br/><input type="submit" class="form-submit" value="Send" /> #}
			<br/>
			{#<input type="submit" class="form-submit" value="Send" />#}
			{#<input type="button" class="form-refresh" value="Refresh" onclick="updateChat()" />#}
		</div>	
 </form>
	
    <div id="chats"></div>
	
	<div id="options" style="display:none;">
		<span>Current Room: <span style="text-overflow:ellipsis;">{{ current_room }}</span></span>
		&nbsp;<button id="room">Change Rooms</button>
		{# &nbsp;<button id="send_invites">Send Invites</button> #}
	</div>
	<div id="change_room" style="display:none;">
		<input id="room_name" placeholder="Enter room name..." style="width:150px;"/> 
		<button id="continue">OK</button>&nbsp;<button id="cancel">Cancel</button>
	</div>
	
  </div>  

  </body>
</html>
