<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<title>Simple Ajax Chat</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen" />
    <script src="/js/util.js" type="text/javascript"></script>
    <script type="text/javascript">
    var CURRENT_USER = '{{ user.nickname }}';
    var CHATS_DIV = null;
    
	function isNotEmpty(val) {
		if (val.match(/^s+$/) || val == ""){
			return false;
		} else {
			return true;
		}
	}
	
    function updateChat() {
	    downloadUrl(getRandomUrl("/getchats"), "GET", null, onChatsReturned);
	}
	
	function sendChat(form) {
		if (isNotEmpty(document.getElementById("chattext").value)) {
			downloadUrl(getRandomUrl("/getchats"), "POST", "content=" + encodeURIComponent(document.getElementById("chattext").value), onChatsReturned);
			document.getElementById("chattext").value = "";
		}
	}

	function onChatsReturned(responseText, status) {
		if (status == 200) {
		  if (CHATS_DIV.innerHTML != responseText){
			  CHATS_DIV.innerHTML = responseText;
			  scrollToBottom();
			  highlightUser(CURRENT_USER, CHATS_DIV);
			  makeLinks(CHATS_DIV);		  
		  }
	    } 
	    window.setTimeout("updateChat()", 1000);
	}

	function setup() {
		updateChat();
		CHATS_DIV = document.getElementById("chats");
	}
	
	function scrollToBottom() {
	  CHATS_DIV.scrollTop = CHATS_DIV.scrollHeight;
	}
	
	function getRandomUrl(url) {
  		var randUnrounded=Math.random()*999999999;
  		var randNumber=Math.floor(randUnrounded);
  		var randUrl = url + '?time=' + randNumber;
  		return randUrl;
	}
	</script>
  </head>                                                                                     
  <body onload="setup()">
  <div class="wrapper">
	
    <div id="chats"></div>
	
	<form id="send-chat-form" action="javascript:sendChat();">
      	<div class="form-item">
	  		<input placeholder="Enter some freaking text already..." type="text" name="content" class="form-textfield" id="chattext" />
			{#<br/><input type="submit" class="form-submit" value="Send" /> #}
			{#<input type="button" class="form-refresh" value="Refresh" onclick="updateChat()" />#}
		</div>
    </form>
  </div>  

  </body>
</html>
