#chat_tab{
	position:absolute;
	top: 10%;
	right: 0px;
	width:30px;
	height:100px;
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-bottom: 3px solid white;
	border-right: 0px none #000;
	background: -webkit-gradient(linear, left top, right top, from(#111), to(#333));
	-webkit-box-shadow: 0px 1px 3px #000;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: right;
}

#chat_tab span
{
	position: relative;
	display: block;
	font-family: Arial;
	font-weight: bolder;
	color: #eee;
	-webkit-transform: rotate(-90deg) translate(-50px, 0px);
	transform: rotate(-90deg) translate(-50px, 0px);
}

#chat_wrapper{
	position:absolute;
	right: 0px;
	top: 0px;
	width: 0px;
	height: 100%;
	background-color:rgba(0, 176, 216, 0.1);
	-webkit-box-shadow: 0px 3px 3px #666;
}
#chat_wrapper iframe
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
