#chat_wrapper html, #chat_wrapper body, #chat_wrapper div, #chat_wrapper span, #chat_wrapper applet, #chat_wrapper object, #chat_wrapper iframe,
h1, #chat_wrapper h2, #chat_wrapper h3, #chat_wrapper h4, #chat_wrapper h5, #chat_wrapper h6, #chat_wrapper p, #chat_wrapper blockquote, #chat_wrapper pre,
a, #chat_wrapper abbr, #chat_wrapper acronym, #chat_wrapper address, #chat_wrapper big, #chat_wrapper cite, #chat_wrapper code,
del, #chat_wrapper dfn, #chat_wrapper em, #chat_wrapper font, #chat_wrapper img, #chat_wrapper ins, #chat_wrapper kbd, #chat_wrapper q, #chat_wrapper s, #chat_wrapper samp,
small, #chat_wrapper strike, #chat_wrapper strong, #chat_wrapper sub, #chat_wrapper sup, #chat_wrapper tt, #chat_wrapper var,
b, #chat_wrapper u, #chat_wrapper i, #chat_wrapper center,
dl, #chat_wrapper dt, #chat_wrapper dd, #chat_wrapper ol, #chat_wrapper ul, #chat_wrapper li,
fieldset, #chat_wrapper form, #chat_wrapper label, #chat_wrapper legend,
table, #chat_wrapper caption, #chat_wrapper tbody, #chat_wrapper tfoot, #chat_wrapper thead, 
#chat_wrapper tr, #chat_wrapper th, #chat_wrapper td,
#chat_tab, #chat_wrapper {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
#chat_wrapper body {
	line-height: 1;
}
#chat_wrapper ol, #chat_wrapper ul {
	list-style: none;
}
#chat_wrapper blockquote, #chat_wrapper q {
	quotes: none;
}
#chat_wrapper blockquote:before, #chat_wrapper blockquote:after,
q:before, #chat_wrapper q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
#chat_wrapper :focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
#chat_wrapper ins {
	text-decoration: none;
}
#chat_wrapper del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
#chat_wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
  font-family: 'IM Fell Great Primer SC';
  font-style: normal;
  font-weight: normal;
  src: local('IM Fell Great Primer SC'), url('http://themes.googleusercontent.com/font?kit=A313vRj97hMMGFjt6rgSJuSNO5Eaym6LWE3jyfXmerw') format('truetype');
}

#chat_wrapper iframe
{
	border: none;
}


#chat_tab{
	position:fixed;
	top: 50%;
	margin-top: -70px;
	right: 0px;
	width:30px;
	height:100px;
	cursor:pointer;
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-bottom: 3px solid white;
	border-right: 0px none #000;
	padding-top:20px;
	background: -webkit-gradient(linear, left top, right top, from(#111), to(#333));
	-webkit-box-shadow: 0px 1px 3px #000;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: right;
	z-index: 1000;
}

#chat_tab span.inner
{
	position: relative;
	display: block;
	font-family: 'IM Fell Great Primer SC', Arial;
	font-weight: bolder;
	font-size: 20px;
	color: #eee;
	-webkit-transform: rotate(-90deg) translate(-50px, 0px);
	transform: rotate(-90deg) translate(-50px, 0px);
}


#chat_tab span.inner span
{
    font-size: 23px;
    padding:3px;
}

#chat_wrapper{
	position:fixed;
	right: 0px;
	top: 2px;
	width: 0px;
	height: 99%;
	background-color: #333;
	-webkit-box-shadow: 0px 3px 3px #666;
	z-index: 999;
}
#chat_wrapper iframe
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}