<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen" />
  </head>
  <body>
  <div class="user_wrapper">
  <p><a href="/">&laquo; Back to chatroom</a></p>
  {% block title %}<h1>&nbsp;{{ queried_user.user.nickname }}</h1>{% endblock %}
  {% block content %}
 <div style="margin:10px;">
  <h2 style="margin:10px;">
	{{ queried_user.user }}
	{% if queried_user.picture %}<img src="{{ queried_user.picture }}" />{% endif %}
	 </h2>
  <dl id="user-profile">
  	<dt>Email:</dt>
		<dd>{{ queried_user.user.email }}</dd>
	<dt>Website:</dt>
		<dd>{{ queried_user.website }}</dd>
  </dl>
	</div>
  {% endblock %}
  </div>
  </body>
</html>
